<%- include('../layouts/userHeader.ejs') %>
            <div class="col-md-6 col-12 position-relative">
              <a href="javascript:void(0)" id="sidebarToggle" class="sidebar-toggle d-md-none"><i class="fa fa-bars"
                  aria-hidden="true"></i></a>
              <ul class="list-inline float-end top-right topBarLeft">
                <% if(!user){ %>
                  <li class="account-login"><span><a href='/login'>Log in</a><small>or</small><a href='/signup'>Create
                        an account</a></span></li>
                  <% }else{ %>
                    <li class="account-login"><span><a href="/logout">Log out</a></span></li>
                    <% } %>
                      <li class="searchBox">
                        <a class="text-white" href="javascript:void(0)"><i class="fas fa-search"></i></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                          <li>
                            <form class="input-group">
                              <input type="text" class="form-control" placeholder="Search…"
                                aria-describedby="basic-addon2" required>
                              <button type="submit" class="input-group-addon">Submit</button>
                            </form>
                          </li>
                        </ul>
                      </li>
                      <li class="dropdown cart-dropdown">
                        <a href="/cart" class="" data-bs-toggle="" data-bs-display=""><i
                            class="fa fa-shopping-cart"></i></a>

                      </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- NAVBAR -->
      <nav class="navbar navbar-main navbar-default navbar-expand-md navbar-scrollUp navbar-sticky d-none d-md-block"
        role="navigation">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->

          <a class='navbar-brand' href='index.html'>
            <h1>Handloom</h1>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse"
            aria-controls="navbar-ex1-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
          </button>


          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav ms-auto">
              <li class="nav-item dropdown ">
                <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">Home</a>

              </li>
              <li class="nav-item dropdown megaDropMenu active">
                <a href="/products" class="dropdown-toggle nav-link" data-toggle="dropdown" data-hover="dropdown"
                  data-delay="300" data-close-others="true" aria-expanded="false">Product</b></a>
              </li>
              <li class="nav-item dropdown ">
                <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">FAQ's</a>

              </li>
              <li class="nav-item dropdown ">
                <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">blog</a>

              </li>
              <li class="nav-item dropdown ">
                <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button"
                  aria-haspopup="true" aria-expanded="false">My Account</a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class=""><a href='account-dashboard.html'>Dashboard</a></li>
                  <li class=""><a href='account-profile.html'>Profile</a></li>
                  <li class=""><a href='account-all-orders.html'>All Orders</a></li>
                  <li class=""><a href='account-single-order.html'>Single Order</a></li>
                  <li class=""><a href='/wishlist'>Wishlist</a></li>
                  <li class=""><a href='account-address.html'>Address</a></li>
                  <li class=""><a href='my-tickets.html'>My tickets</a></li>
                  <li class=""><a href='single-ticket.html'>Single ticket</a></li>
                </ul>
              </li>

            </ul>
          </div><!-- /.navbar-collapse -->
          <div class="version2">
            <div class="dropdown cart-dropdown">
              <a href="javascript:void(0)" class="dropdown-toggle shop-cart" data-bs-toggle="dropdown"
                data-bs-display="static">
                <i class="fa fa-shopping-cart"></i>
                <span class="badge text-white">3</span>
              </a>

            </div>
          </div>
        </div>
      </nav>
    </div>

    <!-- HEADER FORM -->
    <div class="header-form-area bg-primary d-md-none">
      <form class="header-form" action="#" method="">
        <div class="input-group">
          <input type="text" class="form-control py-0" required="" id="expire" placeholder="Search...">
          <div class="input-group-append">
            <button class="input-group-text border-0 btn bg-white" type="submit">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M8.16667 14.8333C11.8486 14.8333 14.8333 11.8486 14.8333 8.16667C14.8333 4.48477 11.8486 1.5 8.16667 1.5C4.48477 1.5 1.5 4.48477 1.5 8.16667C1.5 11.8486 4.48477 14.8333 8.16667 14.8333Z"
                  stroke="#ccc" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M16.5 16.5L12.875 12.875" stroke="#ccc" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" />
              </svg>
            </button>
          </div>
        </div>
      </form>
    </div>



    <!-- LIGHT SECTION -->
    <section class="lightSection clearfix pageHeader">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="page-title">
              <h2>Single Product</h2>
            </div>
          </div>
          <div class="col-md-6">
            <ol class="breadcrumb pull-right">
              <li>
                <a href='/'>Home</a>
              </li>
              <li>
                <a href='/product'>Product</a>
              </li>
              <li class="active">Single Product</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <!-- MAIN CONTENT SECTION -->
    <section class="mainContent clearfix">
      <div class="container">
        <div class="row singleProduct">
          <div class="col-md-12">
            <div class="media flex-wrap mb-5">
              <div class="media-left productSlider">
                <div id="carousel" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner SingleProductItem">

                    <div class="carousel-item active productImage SingleProductImage" data-thumb="0">
                      <img id="main-image" class="zoom-img" id="zoom-img" src="/product-images/<%= product.mainImage[0]%>" onclick="click(this)"
                        style="height: 550px; width: 50px;">
                      <img data-fancybox="images" id="zoom-image" src="/product-images/<%= product.mainImage[0]%>"
                        class="product-content ">
                      <div class="MaskingIcon"></div>

                    </div>



                  </div>
                </div>

                <div class="clearfix">
                  <div id="thumbcarousel" class="carousel slide" data-interval="false">
                    <div class="carousel-inner">
                      <% product.mainImage.forEach(function(product){ %>
                        <div data-bs-target="#carousel" data-bs-slide-to="0" class="thumb "><img
                            data-zoom-image="/product-images/<%=product %>" onclick="imageclick(this)"
                            src="/product-images/<%=product %>" style="height: 150px;"></div>

                        <% }) %>
                    </div>
                    <a class="left carousel-control" href="#thumbcarousel" role="button" data-bs-slide="prev"
                      style="color: red;">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#thumbcarousel" role="button" data-bs-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                  </div>
                </div>
              </div>

              <div class="media-body">
                <ul class="list-inline">
                  <li class="mb-4 mb-md-0">
                    <a href='/product'><i class="fa fa-reply" aria-hidden="true"></i>
                      Continue Shopping
                    </a>
                  </li>
                </ul>

                <h2>
                  <%= product.name %>
                </h2>

                <!-- <p style="text-decoration: line-through;">₹<%= product.mrp %></p> -->

                <% if(product.offerPrice < product.price){ %>
                  <h3>
                    <h3 class="card-text">
                      <span class="fw-bold">
                        ₹ <%= new Intl.NumberFormat().format(product.offerPrice)%>
                      </span>
                      <span class="text-danger text-decoration-line-through">₹ <%= new
                          Intl.NumberFormat().format(product.price)%></span>
                    </h3>
                    <% }else{ %>

                      <h3 class="card-text">
                        ₹ <%= new Intl.NumberFormat().format(product.price)%>
                      </h3>
                  </h3>
                  <% } %>

                    <h5 style="font-weight: bold">
                      Highlights <br />
                      <%= product.description %>
                    </h5>

                    <p>Mauris lobortis augue ex, ut faucibus nisi mollis ac. Sed volutpat scelerisque ex ut ullamcorper.
                      Cras at velit quis sapien dapibus laoreet a id odio. Sed sit amet accumsan ante, eu congue metus.
                      Aenean eros tortor, cursus quis feugiat sed vestibulum.</p>

                    <h3>category: <span><h5 href="#"><%= product.category %></h5></span></h3>
                    <!-- <h5 href="#"><%= product.category %></h5> -->

                    <div class="gap"></div>

                    <form action="/addto-cart/<%=product._id%>" method="post">

                      <!-- <div class="row">
                        <div class="col-12">
                          <div class="d-flex align-items-center mb-5 pt-3">
                            <h5 class="me-4">Quantity:</h5>
                            <div class="SingleCartListInner cartListInner ps-1">
                              <div class="table-responsive">
                                <table class="table">
                                  <tbody>
                                    <tr class="border-0">
                                      <td class="count-input border-0 p-0">
                                        <a class="incr-btn" data-action="decrease" href="#"><i
                                            class="fa fa-minus"></i></a>
                                        <input class="quantity" type="text" name="productQuantity" value="1">
                                        <a class="incr-btn" data-action="increase" href="#"><i
                                            class="fa fa-plus"></i></a>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> -->

                      <div class="btn-area mb-0">
                        <button class='btn btn-primary btn-default' type="submit">Add to cart <i
                            class="fa fa-angle-right" aria-hidden="true"></i></button>
                      </div>
                    </form>

              </div>
            </div>
          </div>
        </div>


      </div>
    </section>

    <!-- FOOTER -->
    <div class="footer clearfix">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-12">
            <div class="footerLink">
              <h5>Accessories</h5>
              <ul class="list-unstyled">
                <li><a href="javascript:void(0)">Body care </a></li>
                <li><a href="javascript:void(0)">Chambray </a></li>
                <li><a href="javascript:void(0)">Floral </a></li>
                <li><a href="javascript:void(0)">Rejuvination </a></li>
                <li><a href="javascript:void(0)">Shaving </a></li>
                <li><a href="javascript:void(0)">Toilette </a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-2 col-12">
            <div class="footerLink">
              <h5>BRANDS</h5>
              <ul class="list-unstyled">
                <li><a href="javascript:void(0)">Barbour </a></li>
                <li><a href="javascript:void(0)">Brioni </a></li>
                <li><a href="javascript:void(0)">Oliver Spencer</a></li>
                <li><a href="javascript:void(0)">Belstaff</a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-2 col-12">
            <div class="footerLink">
              <h5>Accessories</h5>
              <ul class="list-unstyled">
                <li><a href="javascript:void(0)">Body care </a></li>
                <li><a href="javascript:void(0)">Chambray </a></li>
                <li><a href="javascript:void(0)">Floral </a></li>
                <li><a href="javascript:void(0)">Rejuvination </a></li>
                <li><a href="javascript:void(0)">Shaving </a></li>
                <li><a href="javascript:void(0)">Toilette </a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-2 col-12">
            <div class="footerLink text-nowrap">
              <h5>Get in Touch</h5>
              <ul>
                <li><a href="tel:555-555-5555">Call us at (555)-555-5555</a></li>
                <li><a href="mailto:support@iamabdus.com">support@iamabdus.com</a></li>
              </ul>
              <ul class="list-inline">
                <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="javascript:void(0)"><i class="fab fa-dribbble"></i></a></li>
                <li><a href="javascript:void(0)"><i class="fab fa-vimeo-v"></i></a></li>
                <li><a href="javascript:void(0)"><i class="fab fa-tumblr"></i></a></li>
              </ul>
            </div>
          </div>

          <div class="col-md-4 col-12">
            <div class="newsletter clearfix">
              <h4>Newsletter</h4>
              <h3>Sign up now</h3>
              <p>Enter your email address and get notified about new products. We hate spam!</p>
              <form class="input-group">
                <input type="text" class="form-control" required placeholder="your email address"
                  aria-describedby="basic-addon2">
                <button type="submit" class="input-group-addon" id="basic-addon2">go <i
                    class="fa fa-chevron-right"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- COPY RIGHT -->
    <div class="copyRight clearfix">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-12">
            <p>&copy; <span id="copy-year"></span> Copyright Bigbag Store Bootstrap Template by <a target="_blank"
                href="http://www.iamabdus.com/">Abdus</a>.</p>
          </div>
          <div class="col-md-5 col-12">
            <ul class="list-inline">
              <li>
                <a href="javascript:void(0)"><img src="assets/img/home/footer/card1.png"></a>
              </li>

              <li>
                <a href="javascript:void(0)"><img src="assets/img/home/footer/card2.png"></a>
              </li>

              <li>
                <a href="javascript:void(0)"><img src="assets/img/home/footer/card3.png"></a>
              </li>

              <li>
                <a href="javascript:void(0)"><img src="assets/img/home/footer/card4.png"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    var d = new Date();
    var year = d.getFullYear();
    document.getElementById("copy-year").innerHTML = year;
  </script>

  <!-- LOGIN MODAL -->
  <div class="modal fade login-modal" id="login" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <h3 class="modal-title">log in</h3>
          <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <form action="#" method="POST" role="form">
            <div class="form-group">
              <label for="">Enter Email</label>
              <input type="email" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="">Password</label>
              <input type="password" class="form-control">
            </div>
            <div class="checkbox">
              <input id="checkbox-1" class="checkbox-custom form-check-input" name="checkbox-1" type="checkbox" checked>
              <label for="checkbox-1" class="checkbox-custom-label form-check-label">Remember me</label>
            </div>
            <button type="submit" class="btn btn-primary w-100">log in</button>
            <button type="button" class="btn btn-link w-100" onclick="location.href='lost-password-2.html';">Forgot
              Password?</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- SIGN UP MODAL -->
  <div class="modal fade " id="signup" tabindex="-1" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header justify-content-center">
          <button type="button" class="close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
          <h3 class="modal-title">Create an account</h3>
        </div>
        <div class="modal-body">
          <form action="#" method="POST" role="form">
            <div class="form-group">
              <label for="">Enter Email</label>
              <input type="email" required class="form-control">
            </div>
            <div class="form-group">
              <label for="">Password</label>
              <input type="password" class="form-control">
            </div>
            <div class="form-group">
              <label for="">Confirm Password</label>
              <input type="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary w-100">Sign up</button>
            <button type="button" onclick="location.href='signup-2.html';" class="btn btn-link w-100">New User?</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <script src="assets/plugins/jquery/jquery-3.5.1.min.js"></script>
  <script src="assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/plugins/simplebar/simplebar.min.js"></script>

  <script src='assets/plugins/slick/slick.js'></script>
  <script src='assets/plugins/fancybox/jquery.fancybox.min.js'></script>
  <script src='assets/plugins/iziToast/js/iziToast.js'></script>


  <script src='assets/plugins/selectbox/jquery.selectbox-0.1.3.min.js'></script>


  <script src='assets/plugins/rateyo/jquery.rateyo.min.js'></script>
  <script src="assets/plugins/smoothscroll/SmoothScroll.js"></script>

  <script src="assets/js/custom.js"></script>

  <link href="assets/options/optionswitch.css" rel="stylesheet">
  <script src="assets/options/optionswitcher.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/elevatezoom/3.0.8/jquery.elevatezoom.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.2/dist/sweetalert2.all.min.js"></script>

  <script>
    function imageclick(imageclicked) {
      let image = document.getElementById("main-image")
      image.src = imageclicked.src
    }

    function click(imageclick) {
      let image = document.getElementById("zoom-image")
      image.src = imageclick.src
    }

  </script>

  <script>

    $(document).ready(function () {
      $(".zoom-img").elevateZoom({
        cursor: "crosshair",
        easing: true,
      });
    })
  </script>




</body>

<!-- Mirrored from bigbag-html.netlify.app/single-product by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 09 Dec 2023 09:39:28 GMT -->

</html>

views/user/forgetpage3.ejs
